.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #0f0c29;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  section {
    width: 90%;
  }
}
